@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  /* Font */
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    sans-serif;

  /* Base */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Static */
  --color-static-white: #ffffff;

  /* Neutral */
  --color-neutral-5: #fcfcfc;
  --color-neutral-10: #f4f5f8;
  --color-neutral-20: #eaebee;
  --color-neutral-30: #d4d5d8;
  --color-neutral-40: #b4b5b8;
  --color-neutral-50: #8a8b8e;
  --color-neutral-70: #4e4f52;
  --color-neutral-90: #1c1d20;

  /* Blue */
  --color-blue-500: #275af0;
  --color-blue-600: #214dcc;

  /* Semantic */
  --color-bg-normal: #f4f5f8;
  --color-bg-elevate: #f0f1f4;
  --color-text-normal: #4e4f52;
  --color-text-strong: #1c1d20;
  --color-border-normal: #eaebee;
  --color-border-light: #f0f1f4;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-sans);
    color: var(--color-text-normal);
    background: var(--color-white);
  }
}
